*{
    margin: 0;
    padding: 0;
}
body{
    line-height: 1.5;
    font-family: monospace;
}

/*global*/
.container{
    width:90%;
    margin: auto;
    overflow: hidden;
}





/*header*/
#header-top{
    background: #582f0e;
    padding: 5px;
    min-height: 5px;
    
}
#header-middle{
    background: #7f4f24;
    padding: 5px;
    min-height: 5px;
}

#header-bottom{
    background: rgba(248, 212, 7, 0.555);
    padding: 5px;
    min-height: 5px;
    
}

ion-icon{
    color: white;
    font-size: 35px;
    float: right;
    margin-left: 10px;
    margin-bottom: 5px;
}

#header-middle img{
    width: 150px;
    margin: auto;
    display: block;
    border-radius: 5px;
    opacity: 0.6;
}

#header-bottom a{
    color: rgb(9, 53, 22);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
} 

#header-bottom li{
    display: inline;
    padding: 0 15px;
}
#header-bottom ul{
   text-align: center;
  
}

#header-bottom a:hover{
    color: white;
}

@media (max-width: 721px) {
    #header-bottom ul{
        display: flex;
        flex-direction: column;
    }

    #header-bottom li{
        margin: 5px;
    }
}

/*section case1*/
#case1 {
    min-height: 200px;   
    background:url('../image/a-r-ZA72fIisdwA-unsplash.jpg') no-repeat  0 -200px; 
    
    text-align: center;
}

#case1 h1{
    margin: 50px 0 10px;
    font-size:55px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #7f4f24;
}
#click{
    
   display: flex;
   justify-content: center;
   gap: 50px;
}

.touch-A{
  background-color: #7f4f24;
  border: 10px solid #582f0e;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 35px 0 grey;
  margin-top: 50px;
}

.touch-A p{
    text-align: center;
}




/*section case2*/
#login-form,
#signup-form{
    background: white;
    border: 10px solid #582f0e;
	border-radius: 5px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px;
    padding-left: 25px;
    padding-right: 50px;
	box-sizing: border-box;
	width: 30%;
    min-height: 300px;
	margin: 5px auto;

    /*stacking forms above each other*/
        position: relative;
}

#signup-form {
	display: none;
}

label{
    font-size: 18px;
    margin-left: 10px;
    font-family: monospace;
    color: #7f4f24;
    margin-bottom:px;
}

input {
    width: 100%;
    height: 25px;
    margin: 15px;
    border: none;
    border-bottom: 1px solid #7f4f24;
    outline: none;
    cursor: pointer;
    font-size: 13px;
}

.submit{
    height: 30px;
    width: 85%;
    border: 2px solid  #582f0e;
    border-radius: 0px 10px 0 10px;
    padding: 0 5px;
	margin: 15px ;
    margin-left: 35px;
    background: transparent;
    cursor: pointer;
    color: #582f0e;
}



.icon{
    display: flex;
    justify-content: center;
}


.icon ion-icon {
    color:  #582f0e;
    font-size: 30px;
    gap: 10px;
    margin-top: 15px;
    cursor: pointer;
}

.icon ion-icon:hover{
    border-bottom: #7f4f24 3px solid;
}


#signup-form p{
    color:  #582f0e;
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
    font-family: monospace;
}

@media (max-width: 580px) {
    .touch-A{
        width: 80px;
        height: 80px;
        text-align: center;
        gap: 10px;
    }

    #click{
        gap: 25px;
    }

    #click p{
    margin: auto -10px;
    font-size: 15px;
    }

    #login-form,
    #signup-form{
        width: 50%;
    }
}

@media (min-width: 480px){
    #login-form,
    #signup-form{
        width: 50%;
    }
}



/*footer*/
footer{
    background: #582f0e;
    height: 5px;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 10px;
    margin-top: 90px;
}